name: Docker Python Image

on:

  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Pull python docker image
      run: docker pull python
    - name: run python script from docker image
      run: docker run --name test-container python:latest python demo.py
